input[type=radio] {
    display:none;
    opacity: 0;
}

input[type=radio] + label {
    opacity: 0.5;
    height: 100px;
    width: 100px;
    display:inline-block;
    padding: 0 0 0 0px;
    text-align: center
}

input[type=radio]:checked + label {
    opacity: 1;
    height: 100px;
    width: 100px;
    display:inline-block;
    padding: 0 0 0 0px;
    text-align: center
}


[type="radio"]+label:before, [type="radio"]:not(.filled-in)+label:after{
    display: none;
}

.options-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


