.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-input{
    width: 98%;
    margin: 20px 1%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:600px){
    .container-input{
        width: 48%;
        margin: 5px 1%;
    }
 
  }

  @media screen and (min-width:1000px){
    .container-input{
        width: 30%;
        margin: 5px 1%;
    }
 
  }