<div id="main-container" *ngIf="!contact">
  <div class="idea-container card">
      <img [src]="'http://arcky.herokuapp.com/'+idea.picPath+'.svg'" alt="Wait for it">
    
    <div *ngIf="!edit" class="info-container">  
      <span><b>{{idea.title}}</b> by <a [routerLink]="['../user', idea.authorId._id]"><b>{{idea.authorId.username}}</b></a></span>
      <p>{{idea.description}}</p>
      <div class="low-container">
    <div *ngIf="user._id != idea.authorId._id && user.username !== ''" class="btn blue" (click)="toggleContact()">Contact</div>
    <div *ngIf="idea.followers.indexOf(user._id)==-1 && user.username !== ''" class="btn green" (click)="follow()">Follow | {{idea.followers.length}}</div>
    <div *ngIf="idea.followers.indexOf(user._id)!=-1 && user.username !== ''" class="btn green" (click)="unfollow()">Following | {{idea.followers.length}}</div>
    <div *ngIf="user._id != idea.authorId._id && user.username !== ''" [routerLink]="['../', idea._id, 'contribute']" class="btn orange">Contribute</div>
    <div *ngIf="user._id === idea.authorId._id && user.username !== ''" (click)="editChange()" class="btn red">Edit Idea</div>
      </div>
    </div>
    <div *ngIf="edit" class="info-container">  
            <label>Idea Title</label>
            <input [(ngModel)]="idea.title">  
            <label>Describe your idea</label>
            <input [(ngModel)]="idea.description">
            <div class="low-container">
          <div *ngIf="user._id != idea.authorId._id && user.username !== ''" class="btn blue" (click)="toggleContact()">Contact</div>
          <div *ngIf="idea.followers.indexOf(user._id)==-1 && user.username !== ''" class="btn green" (click)="follow()">Follow | {{idea.followers.length}}</div>
          <div *ngIf="idea.followers.indexOf(user._id)!=-1 && user.username !== ''" class="btn green" (click)="unfollow()">Following | {{idea.followers.length}}</div>
          <div *ngIf="user._id != idea.authorId._id && user.username !== ''" [routerLink]="['../', idea._id, 'contribute']" class="btn orange">Contribute</div>
          <div *ngIf="user._id === idea.authorId._id && user.username !== ''" (click)="saveChange()" class="btn red">Save Idea</div>
            </div>
          </div>
  </div>

  <div class="comment-container card">
    <div class="upper-container">
      <h5>Top Contributions</h5>
      <button (click)="toggleCon()" class="btn blue">See All</button>
    </div>
    <div *ngIf="!allCon" class="low-container">
      <div class="idea card" *ngFor="let comment of contributions.slice(0,3)">
        {{comment.content}}
        <div class="low-container">
            <span><a [routerLink]="['../user', comment.authorId._id]">{{comment.authorId.username}}</a></span>
            <button (click)="rateDown(comment._id)" class="red">-</button><span>{{comment.rating.length}}</span>
            <button (click)="rateUp(comment._id)" class="green">+</button>
        </div>
      </div>
    </div>
    <div *ngIf="allCon" class="low-container">
            <div class="idea card" *ngFor="let comment of contributions">
              {{comment.content}}
              <div class="low-container">
                  <span><a [routerLink]="['../user', comment.authorId._id]">{{comment.authorId.username}}</a></span>
                  <button (click)="rateDown(comment._id)" class="red">-</button><span>{{comment.rating.length}}</span>
                  <button (click)="rateUp(comment._id)" class="green">+</button>
                </div>
            </div>
          </div>
  </div>

  <div class="comment-container card">
      <div class="upper-container">
        <h5>Similar Projects</h5>
        <button (click)="toggleSim()" class="btn blue">See All</button>
      </div>
      <div *ngIf="!allSim" class="low-container">
            <div class="idea card" *ngFor="let comment of similars.slice(0,3)">
              {{comment.content}}
              <div class="low-container">
                  <span><a [routerLink]="['../user', comment.authorId._id]">{{comment.authorId.username}}</a></span>
                  <button (click)="rateDown(comment._id)" class="red">-</button><span>{{comment.rating.length}}</span>
                  <button (click)="rateUp(comment._id)" class="green">+</button>
                </div>
            </div>
    </div>
    <div *ngIf="allSim" class="low-container">
            <div class="idea card" *ngFor="let comment of similars">
              {{comment.content}}
              <div class="low-container">
                  <span><a [routerLink]="['../user', comment.authorId._id]">{{comment.authorId.username}}</a></span>
                  <button (click)="rateDown(comment._id)" class="red">-</button><span>{{comment.rating.length}}</span>
                  <button (click)="rateUp(comment._id)" class="green">+</button>
              </div>
            </div>
          </div> 
    </div>

    <div class="comment-container card">
        <div class="upper-container">
          <h5>Recommendations</h5>
          <button (click)="toggleRec()" class="btn blue">See All</button>
        </div>
        <div *ngIf="!allRec" class="low-container">
                <div class="idea card" *ngFor="let comment of recs.slice(0,3)">
                  {{comment.content}}
                  <div class="low-container">
                      <span><a [routerLink]="['../user', comment.authorId._id]">{{comment.authorId.username}}</a></span>
                      <button (click)="rateDown(comment._id)" class="red">-</button><span>{{comment.rating.length}}</span>
                      <button (click)="rateUp(comment._id)" class="green">+</button>
                    </div>
                </div>
              </div>
              <div *ngIf="allRec" class="low-container">
                    <div class="idea card" *ngFor="let comment of recs">
                      {{comment.content}}
                      <div class="low-container">
                          <span><a [routerLink]="['../user', comment.authorId._id]">{{comment.authorId.username}}</a></span>
                          <button (click)="rateDown(comment._id)" class="red">-</button><span>{{comment.rating.length}}</span>
                          <button (click)="rateUp(comment._id)" class="green">+</button>
                        </div>
                    </div>
                  </div>
    </div>
</div>
<div *ngIf="contact" class="contact-form">
  <h4>Conctact the creator of this idea!</h4>
        <div class="row">
                <div class="input-field">
                  <input id="similar" type="text" class="validate" [(ngModel)] ="message.title">
                  <label for="similar">Subject</label>
                </div>
              </div>
              <div class="row">
                  <div class="input-field">
                    <input id="linkSim" type="text" class="validate" [(ngModel)] ="message.content">
                    <label for="linkSim">What do you want to say?</label>
                  </div>
                </div>
              <div class="btn blue" (click)="sendMessage()">Send!</div>
</div>